/* Itty bitty reset */
* {
  margin: 0;
  padding: 0;
}

/* We'll support up to four columns */
#content {
  max-width: 270px;
  margin: 0 auto;
}

@media (min-width: 560px) {
  #content {
    max-width: 560px;
  }
}

@media (min-width: 820px) {
  #content {
    max-width: 820px;
  }
}

@media (min-width: 1100px) {
  #content {
    max-width: 1100px;
  }
}

#images {
  overflow: hidden;
  /* So box shadows aren't cropped */
  padding: 5px;
}

/* When mousing over images, dim all but the one under the cursor */
#images:hover .image-cell {
  opacity: 0.7;
}

#images:hover .image-cell:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.image-cell {
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-size: cover;
  position: relative;
  transition: opacity 100ms, transform 100ms, box-shadow 100ms;
  box-shadow: 0;
}

/* The img element is primarily there so that users
   can have a contextually correct right-click menu */
.image-cell img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* To allow for a smooth transition, shove the whole
   container up in the corner and immediately resize
   when visible fore a lovely fade-in. There's also
   some crazy stuff going on with z-indexing... */
#lightbox {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  right: 100%;
  bottom: 100%;
  opacity: 0;
  transition: opacity 250ms;
}

#lightbox.visible {
  z-index: 10;
  opacity: 1;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

#lightbox .modal {
  position: fixed;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background: #fff;
  z-index: 5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#lightbox .image-container {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

#lightbox h2 {
  text-align: center;
}

#lightbox img {
  opacity: 0;
}