/* Itty bitty reset */
* {
  margin: 0;
  padding: 0;
}

/* We'll support up to four columns */
#content {
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: 540px) {
  #content {
    max-width: 540px;
  }
}

@media (min-width: 810px) {
  #content {
    max-width: 810px;
  }
}

@media (min-width: 1080px) {
  #content {
    max-width: 1080px;
  }
}

#images {
  overflow: hidden;
}

/* When mousing over images, dim all but the one under the cursor */
#images:hover .image-cell {
  opacity: 0.5;
}

#images:hover .image-cell:hover {
  cursor: pointer;
  opacity: 1;
}

.image-cell {
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-size: cover;
  position: relative;
}

/* The img element is primarily there so that users
   can have a contextually correct right-click menu */
.image-cell img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}